<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_header.ejs %>
</head>
<body>

  <h3>Welcome to URL Shortener by TinyApp</h3>

    <%for (key in urls) { %>

      <ul>

        <td><%= key %>:
        <a href="u/<%= key %>"><%= urls[key] %></a></td>

        <li>
          <form action="/urls/<%= key %>/delete" method="POST">
            <input type="submit" value="Delete" />
          </form>
        </li>>

        <td><a href="/urls/<%= key %>">Edit</a></td>

      </ul>

    <% } %>


  <a href="/urls/new">New URL</a>




</body>
</html>